<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="shortcut icon" href="./resto.jpg" type="image/x-icon">
  <link rel="apple-touch-icon" href="/icons/resto-96x96.jpg">
  <meta name="theme-color" content="#c33de7"/>
  <title>Restaurant Project</title>

</head>

<body>
  <a href="#maincontent" class="skip-content">skip Content</a>
  <header>
    <div class="case">
      <div class="Logo"tabindex="0">AppriliownResto</div>
      <button id="menu" class="header__menu"tabindex="0" aria-label="navgation-menu" >☰</button>
      <nav id="drawer" class="nav">
        <div class="nav_list" tabindex="0">
          <div class="nav_item" ><a href="/">Home</a></div>
          <div class="nav_item"><a href="#/like">Favorite</a></div>
          <div class="nav_item"><a href="https://www.instagram.com/aprrliown.store/?next=%2F">About'us</a></div>
        </div>
      </nav>
   
    </div>
  </header>

  <div class="hero">
     <picture>
      <source media="(max-width: 600px)" srcset="./images/hero-image_2-small.jpg">
      <source media="(max-width: 900px)" srcset="./images/hero-image_2-medium.jpg">
      <img src='./images/hero-image_2-large.jpg' 
           alt="dirt rally poster">
    </picture>
    <div class="hero__inner">
      <h1 class="hero__judul">Find your favorite restaurant</h1>
      <p class="hero__tagline">Adventure Your Favorite Food</p>
    </div>
  </div>

  </div>

  <main id="maincontent" tabindex="0">
    <div class="explore">
  
    </div>
  </main>

  <footer>
    <p> Copyright&copy;2022 Resto</p>
  </footer>

</body>

</html>